#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data/supermarket_sales.csv')

In [4]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [5]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

–§—ñ–ª—ñ–∞–ª **'C'** –º–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ - **5265**.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [15]:
df.groupby(['Branch', 'City'])['gross income'].sum()

Branch  City
A       Yangon       5057.1605
B       Mandalay     5057.0320
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

–û—Ç–∂–µ, –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –ø–æ –æ–¥–Ω—ñ–π —Ñ—ñ–ª—ñ—ó. –í **Naypyitaw** –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ—è **C**, —è–∫–∞ –º–∞—î –Ω–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫, –æ—Ç–∂–µ —Å–∞–º–µ —Ç–∞–º –≤–∞—Ä—Ç–æ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –≤—ñ–¥–∫—Ä–∏—Ç—Ç—è —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [41]:
invoices_by_category = df.pivot_table( index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')

In [42]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [81]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. **–ß–∏ –∂—ñ–Ω–∫–∏ —Ä–æ–±–ª—è—Ç—å –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –∑–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ç–∞ —á–∏ –Ω–∞  –±—ñ–ª—å—à–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫?**

In [118]:
df.groupby('Gender').Total.agg(['count', 'sum', 'mean']).round(2)

        count        sum    mean
Gender
Female    501  167882.92  335.10
Male      499  155083.82  310.79

**–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫** —Å–µ—Ä–µ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —ñ –∂—ñ–Ω–æ–∫ –º–∞–π–∂–µ **–æ–¥–Ω–∞–∫–æ–≤–∞ (501 –ø—Ä–æ—Ç–∏ 499)**. –ü—Ä–æ—Ç–µ, **–∂—ñ–Ω–∫–∏** —Ä–æ–±–ª—è—Ç—å –¥–æ—Ä–æ–∂—á—ñ –ø–æ–∫—É–ø–∫–∏: **—Å–µ—Ä–µ–¥–Ω—è —Å—É–º–∞ —á–µ–∫—É** —Å—Ç–∞–Ω–æ–≤–∏—Ç—å **335.10**, —Ç–æ–¥—ñ —è–∫ —É **—á–æ–ª–æ–≤—ñ–∫—ñ–≤ ‚Äî 310.79**.

**–†–µ–∫–æ–º–µ–Ω–¥—É—î—Ç—å—Å—è** –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∑–∞—Ö–æ–¥–∏ –Ω–∞ –∂—ñ–Ω–æ—á—ñ–π –∞—É–¥–∏—Ç–æ—Ä—ñ—ó, –æ—Å–∫—ñ–ª—å–∫–∏ –≤–æ–Ω–∞ –¥–µ–º–æ–Ω—Å—Ç—Ä—É—î **–≤–∏—â—É —Å–µ—Ä–µ–¥–Ω—é —Å—É–º—É –ø–æ–∫—É–ø–∫–∏**. –î–æ—Ü—ñ–ª—å–Ω–æ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤, —É —è–∫–∏—Ö –∂—ñ–Ω–∫–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ ‚Äî —Ü–µ –¥–æ–ø–æ–º–æ–∂–µ –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —ñ —Ä–µ–∫–ª–∞–º—É. –î–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–æ –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ —Ç–µ–º–∞—Ç–∏—á–Ω—ñ –∞–∫—Ü—ñ—ó –∞–±–æ –±–æ–Ω—É—Å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫.

2. **–ß–∏ —î –∑–∞–ª–µ–∂–Ω—ñ—Å—Ç—å –º—ñ–∂ —Ä–æ–∑–º—ñ—Ä–æ–º –ø–æ–∫—É–ø–∫–∏ (—Å—É–º–∞ —á–µ–∫—É) —Ç–∞ —Ä—ñ–≤–Ω–µ–º –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤ (—Ä–µ–π—Ç–∏–Ω–≥).**

In [129]:
df['Rating_round'] = df['Rating'].round(0)

In [168]:
df.groupby('Rating_round').Total.agg(['count', 'mean', 'sum']).round(2).rename(columns={
      'count': 'Count',
      'mean': 'Average',
      'sum': 'Total_Sum'
  })

              Count  Average  Total_Sum
Rating_round
4.0             102   368.10   37546.71
5.0             133   341.56   45427.16
6.0             193   305.36   58934.84
7.0             159   310.83   49421.42
8.0             179   311.22   55708.58
9.0             141   339.23   47831.28
10.0             93   302.12   28096.76

**–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫** –ø—Ä–∏–ø–∞–¥–∞—î –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ –æ—Ü—ñ–Ω–∫–∏ **(6‚Äì8 –±–∞–ª—ñ–≤)**. –ü—Ä–∏ —Ü—å–æ–º—É **–Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫** —Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—î—Ç—å—Å—è —Å–∞–º–µ —Å–µ—Ä–µ–¥ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —ñ–∑ **–Ω–∏–∂—á–∏–º–∏ —Ä–µ–π—Ç–∏–Ω–≥–∞–º–∏ (4‚Äì5 –±–∞–ª—ñ–≤)**, —Ç–æ–¥—ñ —è–∫ –ø–æ–∫—É–ø—Ü—ñ –∑ **–≤–∏—Å–æ–∫–∏–º–∏ –æ—Ü—ñ–Ω–∫–∞–º–∏ (9‚Äì10) –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –º–µ–Ω—à–µ.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**

 - –ó–≤–µ—Ä–Ω—É—Ç–∏ –æ—Å–æ–±–ª–∏–≤—É —É–≤–∞–≥—É –Ω–∞ –ø–æ–∫—É–ø—Ü—ñ–≤ —ñ–∑ –≤–µ–ª–∏–∫–∏–º–∏ —á–µ–∫–∞–º–∏ —Ç–∞ –Ω–∏–∑—å–∫–∏–º–∏ —Ä–µ–π—Ç–∏–Ω–≥–∞–º–∏ ‚Äî –≤–æ–Ω–∏ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –∑–Ω–∞—á–Ω–∏–π –¥–æ—Ö—ñ–¥, –∞–ª–µ –º–µ–Ω—à –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ.

- –ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –ø—Ä–∏—á–∏–Ω–∏ —ó—Ö–Ω—ñ—Ö –æ—Ü—ñ–Ω–æ–∫ —ñ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ —Å–µ—Ä–≤—ñ—Å –∞–±–æ —è–∫—ñ—Å—Ç—å –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è –¥–ª—è —Ü—ñ—î—ó –≥—Ä—É–ø–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤.

–ü–µ—Ä–µ–≤—ñ—Ä–∏–º–æ —á–∏ —Ä—ñ–≤–µ–Ω—å **–∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ** –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –º—ñ–∂ —Ñ—ñ–ª—ñ–∞–ª–∞–º–∏ **(Branch)**.

In [177]:
df.groupby('Branch').Rating.mean().round(2)

Branch
A    7.03
B    6.82
C    7.07
Name: Rating, dtype: float64

**–í–∏—Å–Ω–æ–≤–æ–∫:**
–†—ñ–∑–Ω–∏—Ü—è –º—ñ–∂ —Ñ—ñ–ª—ñ—è–º–∏ –Ω–µ–≤–µ–ª–∏–∫–∞, –∞–ª–µ **—Ñ—ñ–ª—ñ—è B** –º–æ–∂–µ –ø–æ—Ç—Ä–µ–±—É–≤–∞—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤–æ—ó —É–≤–∞–≥–∏ ‚Äî —ó—ó –∫–ª—ñ—î–Ω—Ç–∏ –æ—Ü—ñ–Ω—é—é—Ç—å –ø–æ–∫—É–ø–∫–∏ **–Ω–∏–∂—á–µ**.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**
- –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —è–∫—ñ—Å—Ç—å –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è, –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–∞ —à–≤–∏–¥–∫—ñ—Å—Ç—å –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è —É **—Ñ—ñ–ª—ñ—ó B**.
- –í–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ —É—Å–ø—ñ—à–Ω—ñ –ø—Ä–∞–∫—Ç–∏–∫–∏ –∑ —Ñ—ñ–ª—ñ–π A —ñ C.

–ü–µ—Ä–µ–≤—ñ—Ä–∏–º–æ —á–∏ **—Ä—ñ–≤–µ–Ω—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ** –∑–∞–ª–µ–∂–∏—Ç—å –≤—ñ–¥ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—É **(Product line)**

In [176]:
df.groupby('Product line').Rating.mean().round(2).sort_values(ascending=False)

Product line
Food and beverages        7.11
Fashion accessories       7.03
Health and beauty         7.00
Electronic accessories    6.92
Sports and travel         6.92
Home and lifestyle        6.84
Name: Rating, dtype: float64

–ö–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –æ—Ç—Ä–∏–º–∞–ª–∏ –¥–æ—Å–∏—Ç—å **—Å—Ö–æ–∂—ñ —Ä–µ–π—Ç–∏–Ω–≥–∏**, —â–æ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ **—Å—Ç–∞–±—ñ–ª—å–Ω–∏–π —Ä—ñ–≤–µ–Ω—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤**. **–ù–∞–π–≤–∏—â—ñ –æ—Ü—ñ–Ω–∫–∏** –º–∞—é—Ç—å **Food and beverages —Ç–∞ Fashion accessories**, —Ç–æ–¥—ñ —è–∫ **–Ω–∞–π–Ω–∏–∂—á—ñ ‚Äî Home and lifestyle**.

**–†–µ–∫–æ–º–µ–Ω–¥—É—î—Ç—å—Å—è** –ø–æ–∫—Ä–∞—â–∏—Ç–∏ —è–∫—ñ—Å—Ç—å —Ç–∞ –∫–æ–Ω—Å—É–ª—å—Ç–∞—Ü—ñ—ó –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö Home and lifestyle, –¥–µ —Ä–µ–π—Ç–∏–Ω–≥ –Ω–∏–∂—á–∏–π. –ö–∞—Ç–µ–≥–æ—Ä—ñ—ó –∑ –≤–∏—Å–æ–∫–∏–º–∏ –æ—Ü—ñ–Ω–∫–∞–º–∏ –≤–∞—Ä—Ç–æ –ø—ñ–¥—Ç—Ä–∏–º—É–≤–∞—Ç–∏ –Ω–∞ –ø–æ—Ç–æ—á–Ω–æ–º—É —Ä—ñ–≤–Ω—ñ.

3. **–ö–ª—ñ—î–Ω—Ç–∏, —è–∫—ñ —î —É—á–∞—Å–Ω–∏–∫–∞–º–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ (Member), –∑–¥—ñ–π—Å–Ω—é—é—Ç—å –¥–æ—Ä–æ–∂—á—ñ –ø–æ–∫—É–ø–∫–∏ (–ø—Ä–∏–Ω–æ—Å—è—Ç—å –±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥), –Ω—ñ–∂ –∑–≤–∏—á–∞–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ (Normal)?**

In [181]:
df.groupby('Customer type').Total.agg(['count', 'mean', 'sum', 'min', 'max']).round(2)

               count    mean        sum    min      max
Customer type
Member           501  327.79  164223.44  10.68  1042.65
Normal           499  318.12  158743.30  12.69  1039.29

**–í–∏—Å–Ω–æ–≤–∫–∏:**

- **–°–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫** –≤ —É—á–∞—Å–Ω–∏–∫—ñ–≤ –ø—Ä–æ–≥—Ä–∞–º–∏ **(327.79) –≤–∏—â–∏–π**, –Ω—ñ–∂ —É –∑–≤–∏—á–∞–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ **(318.12)**.

- **–ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞** –ø–æ–∫—É–ø–æ–∫ —Ç–∞–∫–æ–∂ **–±—ñ–ª—å—à–∞ —É –≥—Ä—É–ø–∏ Member**, —Ö–æ—á–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –º–∞–π–∂–µ –æ–¥–Ω–∞–∫–æ–≤–∞.

- **–ü—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ** –≤–∂–µ –¥–∞—î –ø–æ–º—ñ—Ç–Ω–∏–π, —Ö–æ—á —ñ –Ω–µ–≤–µ–ª–∏–∫–∏–π **–ø–æ–∑–∏—Ç–∏–≤–Ω–∏–π –µ—Ñ–µ–∫—Ç**.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**

- **–†–æ–∑–≤–∏–≤–∞—Ç–∏** –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, –æ—Å–∫—ñ–ª—å–∫–∏ –≤–æ–Ω–∞ —Å—Ç–∏–º—É–ª—é—î –≤–∏—â—ñ –≤–∏—Ç—Ä–∞—Ç–∏.

- –ó–∞–æ—Ö–æ—á—É–≤–∞—Ç–∏ –∑–≤–∏—á–∞–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ **–æ—Ñ–æ—Ä–º–ª—é–≤–∞—Ç–∏ —á–ª–µ–Ω—Å—Ç–≤–æ** (–±–æ–Ω—É—Å–∏ –∑–∞ –ø–µ—Ä—à—É –ø–æ–∫—É–ø–∫—É, –ø—Ä–æ–º–æ–∫–æ–¥–∏).

- –í–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –¥–∞–Ω—ñ –ø—Ä–æ —á–ª–µ–Ω—ñ–≤ –¥–ª—è **–ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω–∏—Ö –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ–π**, —â–æ–± —â–µ –∑–±—ñ–ª—å—à–∏—Ç–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫.